# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = CnkiSpider1_0.settings

[deploy]
#url = http://localhost:6800/
project = CnkiSpider1_0
